.Flashcard-bg-container {
  /* background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(252, 250, 255) 392px
  ); */

  background-color: rgb(252, 250, 255);
  margin-left: auto;
  margin-right: auto;

  margin-top: 5%;
  margin-bottom: 5%;

  /* Controls size of extension */
  width: 350px;
}
