.Flashcard-bg-container {
  width: 400px;
  background-color: rgb(252, 250, 255);
  /* margin-left: auto;
  margin-right: auto; */

  /* margin-top: 5%;
  margin-bottom: 5%; */

  /* Controls size of extension */
  /* width: 415px; */
  border-style: solid;
  border-width: 1px;
  border-color: #ffd37d;
}

.final-container {
  font-family: "Chart", sans-serif;
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
