.Flashcard-container {
  /* height: 100px; */
  width: 400px;
  border-radius: 6px;
  /* border-style: solid;
  border-width: 1px;
  border-color: grey; */

  text-align: left;
  box-shadow: 0 7px 50px rgb(46 10 99 / 5%), 0 1px 1px 0.6px rgb(46 10 99 / 10%);

  background-color: white;

  margin-left: auto;
  margin-right: auto;

  font-family: "Chart", sans-serif;

  display: flex;
  flex-direction: column;
}

.Flashcard-question {
  font-size: 14px;
  /* padding: 6%; */
  padding-left: 4%;
  padding-right: 4%;
  /* height: 50%; */
  padding-top: 16px;
  padding-bottom: 16px;
}

/* .Flashcard-answer-container {
  border-top: 1px solid #f5f5f5;
  /* border-style: solid; */
/* background-color: #fcfaff; */
/* height: 100%; */
/* } */
/* .Flashcard-answer {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 36px;
  padding-bottom: 36px;
} */

.Flashcard-answer-hidden {
  /* position: absolute; */
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid #f5f5f5;
  background-color: #fcfaff;
  /* height: 100%; */

  cursor: pointer;
}

.Flashcard-answer-hidden-text {
  text-align: center;
}

/* .Flashcard-buttons-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
} */

.Flashcard-button-container {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  width: 410px;
  display: flex;
  flex-direction: row;

  /* cursor: pointer; */
}

.Flashcard-button-icon {
  height: 14px;
  width: 50%;
  /*Hack to change color of icon: https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
  filter: invert(31%) sepia(18%) saturate(4099%) hue-rotate(18deg)
    brightness(92%) contrast(101%);
}

.Flashcard-button-text {
  /* width: 50%; */
  font-size: 12px;
}
